@font-face {
  font-family: funkyFont;
  src:url("SuperSunday.ttf")
}


@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');


h1 {
  text-align: center;
  color:#ffd6a5;
  font-family: funkyFont;
  font-size: 5em;
  margin: 0;
  text-shadow: 5px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Adjust values for thickness/style */
  letter-spacing: 0.03em;
  pointer-events: none;
  z-index: 1;
  opacity: 90%;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
p {
  font-size: 0.8em;
  font-weight: bold;

}

#map {
  border: solid #ffd6a5; 
  height: 100%; 
  width: 50%;
}

.container-map {
  height: 100%;
  width: 100%;
}




.event {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
  
  /* border: 1px solid white; */
  
  
}


.event::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 90%;
  transform: translate(-50%, 0);
  transition: all 0.5s ease-out;
  width: 0;
  z-index: 1;
}

.event.highlight {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 8px 15px;
  width: 25em;
  /* /* max-width: 20em; */
  /* max-height: 12em;  */
  width: auto;
  z-index: 9999;
  /* user-select: auto !important; */
}

.event.highlight::after {
  border-top: 9px solid #ffffff;
  top: 98%;
}

.event .icon{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f31717cc;
}
/* display type under icon when not highlighted  */
.event .icon #rockColor,
.event .icon #hiphopColor,
.event .icon #djColor,
.event .icon #jazzColor  {
  display: none; 
}


/* display type under icon when highlighted  */
.event.highlight .icon #rockColor  {
  display:contents;
  margin-top: 1em;
  font-size: 1em;
  color: #ffadad;
  font-family: funkyFont;
  text-shadow: 1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  
  
}

.event.highlight .icon #hiphopColor  {
  display:contents;
  margin-top: 1em;
  font-size: 1em;
  color: #747541;
  font-family: funkyFont;
  text-shadow: 1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.event.highlight .icon #djColor  {
  display:contents;
  margin-top: 1em;
  font-size: 1em;
  color: #54888d;
  font-family: funkyFont;
  text-shadow: 1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.event.highlight .icon #jazzColor  {
  display:contents;
  margin-top: 1em;
  font-size: 1em;
  color:  #8179ad; 
  font-family: funkyFont;
  text-shadow: 1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}






















.event .icon svg {
  height: 1.5em;
  width: auto;
  fill: currentColor;

}

/* checkhere */
.event.highlight .icon svg {
  height: 1.5em;
  width: auto;
  fill: currentColor;
}

.event .eventTitle {
  color:#ffd6a5;
  text-shadow: -1px -1px 0 black, 3px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  padding-top: 0.2em;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  font-family: funkyFont;
}


.event .details {
  display: none;
  flex-direction: column;
  flex: 1;
  font: bold;
  
}
.event .info {
  display: inline;
}



.event .phoneNumber {
  font-size: 0.6em;
  display: inline;
  padding-left: 10em;
  
  letter-spacing: 0.1em;
}
.event .address {
  display: inline;
  color: #5b5b5b;
  font-size: 0.75em;
  margin-bottom: 10px;
  margin-top: 5px;

}

.event .text-container {
  max-width: 15em;
  max-height: 5em;
  /* padding-top: 0.25em; */
  overflow: auto;
}

.event .description {
  font-size: 12px; /* Adjust font size as needed */
  margin-bottom: 10px; /* Add some spacing */
  word-wrap: break-word !important;
}

.event .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  flex-wrap: wrap;
  /* margin-bottom: 1em; */
}

.event .features > div {
  
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}


.event.highlight .details {
  display: flex;
}

.event.highlight .icon svg {
  width: 2em;
  height: 2em;

}



#imgIcon {
 
  width: 2.25em;
  height: 2.25em;
}

.event .icon #imgIcon {  
  fill: white; /* Default color */
}

/* img */
.event.highlight:has(img) .icon {
  color: white;
}

.event:not(.highlight):has(img) {
  background-color: white;
  
}

.event:not(.highlight):has(img)::after {
  border-top: 9px solid white;

}





.event.ongoing {
  /* background-color: rgb(248, 228, 42) !important; Green background for marker */
  box-shadow: 0 0 5px 2px #06d659;
  animation: ongoingGlow 1s infinite alternate; /* Add glow effect */
  opacity: 100% !important;
  border: 0.15em solid #06d659 !important;
  
}
.event.ongoing.highlight {
  background-image: linear-gradient(to bottom, #06d659, transparent 80%) !important;
  
}

@keyframes ongoingGlow {
  0% {
    box-shadow: 0 0 5px 2px #20dd65; /* Smaller glow */
  }
  100% {
    box-shadow: 0 0 10px 5px #06d629; /* Larger glow */
  }
}

.event.ending-soon {
  /* background-color: red !important; Red background */
  box-shadow: 0 0 5px 2px rgb(230, 138, 0);
  animation: endingSoon 5s infinite alternate; /* Add glow effect */
  border: 0.15em solid rgb(236, 166, 61) !important;
  opacity: 100% !important;
}

.event.ending-soon.highlight {
  background-image: linear-gradient(to bottom,  rgb(230, 138, 0), transparent 80%) !important;

}
@keyframes endingSoon {
  0% {
    box-shadow: 0 0 5px 2px rgba(221, 160, 4, 0.8); /* Smaller glow */
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(248, 112, 1, 0.921); /* Larger glow */
  }
}



.event.starting-soon {
  
  animation: starting-soonGlow 1s infinite alternate;
  border: solid #4effff !important;
  
}

.event.starting-soon.highlight {
  background-image: linear-gradient(to bottom,  #4effff, transparent 80%) !important;
  border: solid #4effff !important;
}

@keyframes starting-soonGlow {
  0% {
    box-shadow: 0 0 1px 1px #4effff; /* Smaller glow */
    
  }
  100% {
    box-shadow: 0 0 2px 2px #01ffaa; /* Larger glow */
    
  }
}





/* Styles for events starting today (blue) */
.event.musicType-Rock {
  background-color: #ffadad !important; /* or any blue color you prefer */
  border: 0.15em solid #805555;
  opacity: 66%;
  

}
.event.musicType-Rock::after {
  border-top: 9px solid #ffadad  !important ;
}
.event.musicType-Rock.highlight {
  background-color: #ffebeb !important; 
  
  border: 0.15em solid #805555;
  opacity: 100%;

}
.event.musicType-Rock.highlight::after { /* Green arrow for marker */
  border-top: 9px solid #ffebeb !important; 
  top: 99%;
}


/* Styles for events starting soon (orange) */
.event.musicType-HipHop {
  background-color: #fdffb6 !important ; 
  
  border: 0.15em solid #747541;
  opacity: 50%;
  
}
.event.musicType-HipHop::after {
  border-top: 9px solid #fdffb6  !important;
 
  
  
}
.event.musicType-HipHop.highlight {
  background-color: #ffffed !important;
  
  border: 0.15em solid #747541;
  opacity: 100%;

}
.event.musicType-HipHop.highlight::after {
  border-top: 9px solid #fdffb6 !important; 
  top: 99%;

}



/* DJ color */
.event.musicType-DJ {
  background-color: #9bf6ff !important;
  border: 0.15em solid #54888d;
  opacity: 50%;
  
}

.event.musicType-DJ::after { /* Green arrow for marker */
  border-top: 9px solid #9bf6ff !important;
  
}

.event.musicType-DJ.highlight {
  background-color: #e0fcfe !important; 
  
  border: 0.15em solid #54888d;
  opacity: 100% !important;

}


.event.musicType-DJ.highlight::after { /* Green arrow for marker */
  border-top: 9px solid #e0fcfe !important; 

  
  top: 99%;
  
}




/* Jazz Color */
.event.musicType-Jazz {
  background-color: #bdb2ff !important;
  border: 0.15em solid #8179ad;
  opacity: 50%;
  
}

.event.musicType-Jazz::after { /* Red arrow */
  border-top: 9px solid #bdb2ff !important ;
}


.event.musicType-Jazz.highlight {
  background-color: #d9d4fc !important; 
  /* background-image: linear-gradient(to bottom, #06d659, transparent) !important; */
  border: 0.15em solid #8179ad;
  opacity: 100%;
  
  
}

.event.musicType-Jazz.highlight::after {
  border-top: 9px solid #d9d4fc !important; /* Green background for marker */
  top: 99%;

}





.event.nomarker {
  display: none;
}















.horizontal-line {
  border-top: 1px solid #000000; /* Adjust thickness, style, and color as needed */
  margin: 5px 0;             /* Add spacing above and below the line */
}




























/* removing google stuff */
.gm-style-cc { display:none; }

.gm-style a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
